<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <link rel="stylesheet" type="text/css" href="charts_js/Chart.min.css">
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js" ></script>
    <script src="charts_js/Chart.min.js"></script>
    <script src="/scripts/classes.js"></script>
    <script src="/scripts/home-scripts.js"></script>
    <script src="/scripts/search-scripts.js"></script>
</head>

<body>
      
    {{{body}}}



</body>


</html>