.search{
    width: 25%;
    height: 40px;
	position: relative;
	top:40%;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.search-main:hover{
    background-color: red;
}

.coco
{
    background-color: rgba(71, 71, 231, 0.514);
}

.btn-outline-success {
    color: #1c4e99c2;
    border-color: #1c4e99c2;
  }

.btn-outline-success:hover {
    color: #fff;
    background-color: #1c4e99c2;
    border-color: #1c4e99c2;
  }

#searchField{
    width: 40%;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    display:table-cell;
    margin:0 auto;
}
