/***********************/
/**********Class***********/
/***********************/
html,body{
    height:100%;
}

.search{
    width: 25%;
    height: 140px;
	position: relative;
	top:40%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.search-main{
    vertical-align:middle;

}
.search-main:hover{
    background-color: #1c4e99c2;
}

.coco
{
    background-color: rgba(71, 71, 231, 0.514);
}

.btn-outline-success {
    color: #1c4e99c2;
    border-color: #1c4e99c2;
  }

.btn-outline-success:hover {
    color: #fff;
    background-color: #1c4e99c2;
    border-color: #1c4e99c2;
}

.canvas-chart{
    height: 300px;
    width:70%; 
    background-color:white;
    padding:10px;
    margin-left:15%;
    margin-left:15%;
    margin-top:40px;
    margin-bottom:40px;
    border-radius:7px;
}

.chart-container{
    background-color: white;
    margin-left:20%;
}

.search-control{
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

/***********************/
/**********ID***********/
/***********************/

#searchField{
    width: 40%;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    display:table-cell;
    margin:0 auto;
}

#myHomeButton{
    /*to add**/
    width:30%;
    margin-left:35%;
    margin-right:35%;
}

#headerPar{
    display: inline;
    margin-left:12%;
    margin-right:13%;
}

#panelSearch{
    position:fixed;
    float:left;
    margin-left:0px;
    margin-right:0px;
    width:30%; 
    height:100%;
    height:auto;
}

#panelData{
    float:left;
    margin-left:30%;
    margin-right:0px;
    width:70%;
    height: 115vh;
    background-color: rgb(240,240,240); 
}
/* 
#keywordSubmit{
    width:100%;
} */

/* ::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    /*text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
  /*  text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 } */