.search{
    width: 25%;
    height: 40px;
	position: relative;
	top:40%;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.search-main:hover{
    background-color: red;
}


#searchField{
    width: 40%;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    display:table-cell;
    margin:0 auto;
}
