<form class="search" action="/search" method="GET">

    <div id="barHeader">
    <i class="fa fa-chart-line fa-lg"></i>
    <p id="headerPar">An app with many data elements!</p>
    <i class="fa fa-chart-bar fa-lg"></i>
    </div>
    <div class="input-group mb-3" style="margin-top:30px;">
    <input id="keywordSubmit" type="text" class="form-control" placeholder="Complete your input here" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <div class="input-group-append" style="margin-top:30px;">
    <button id="myHomeButton" class="btn btn-outline-secondary search-main" type="submit">Search! 
        <i class="fa fa-search"></i>
    </button>
    </div>

</div>