<div id="panelSearch">
<div class="card coco" style="width:90%; heigth:80%; margin-left:5%; margin-right:5%;margin-top:15%;">

    <audio src="https://www.oxfordlearnersdictionaries.com/media/english/uk_pron/s/spa/spagh/spaghetti__gb_1.mp3" controls>
        Your browser does not support the audio element.
    </audio>

    <div class="input-group mb-3" style="width:100%;margin-top:75px;position:relative;">
        <div id="search-div" style="width:100%;">
            <input id="keyInput" type="text" class="form-control search-control" placeholder="Enter a keyword" aria-label="Username" aria-describedby="basic-addon1" value={{searchedKeyword}} oninput="inputData()">
        </div>
        <div id="suggestion-bar">

        </div>
    
    </div>


    <label for="countries" style="margin-top:15%;margin-left:15%;">Choose a country:</label>
        <input class="form-control search-control" type="text" id="countries" list="countriesList"/>
        <datalist   name="countries" id="countriesList" style="max-width:70%">
        </datalist >

    <label for="time" style="margin-top:15%; margin-left:15%;">Choose an interval of time:</label>
    <select class="form-control search-control"  style="margin-bottom:15%;"name="time" id="time">
        {{!-- <option value = "h 1" >Ultima ora</option>
        <option value = "h 4" >Ultimele 4 ore</option> --}}
        <option value = "d 3" >Ultimele 3 zile</option>
        <option value = "d 7" >Ultimele 7 zile</option>
        <option value = "d 30" >Ultimele 30 de zile</option>
        <option value = "d 90" >Ultimele 90 de zile</option>
        <option value = "m 12" >Ultimele 12 luni</option>    
        <option value = "y 5" >Ultimii 5 ani</option>
        <option value = "y 16" > Ultimii 16 ani</option>
    </select>

    </div>
</div>



<div id="panelData">

    <div class="search-results-container canvas-chart">

    {{!-- <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at justo varius justo egestas convallis in vitae turpis. Donec efficitur purus vitae purus volutpat congue. Donec gravida, augue vel ornare efficitur, neque nunc mattis diam, nec tincidunt massa lorem in enim. Donec eget neque ut libero egestas laoreet convallis sit amet eros. Donec sed libero porttitor, elementum est eu, efficitur mi. Suspendisse magna dolor, rhoncus vitae lacinia eget, eleifend vel est. Nullam interdum, est et auctor vulputate, nisi eros sagittis orci, quis dignissim odio sapien vitae augue. Ut dapibus urna scelerisque, euismod ipsum at, pharetra metus. Suspendisse potenti. Nulla convallis est arcu, vitae porttitor nunc mollis id. Nullam facilisis eu velit in tempus. Pellentesque posuere sapien velit, sed porta turpis tristique nec.

Morbi pharetra mollis scelerisque. Sed bibendum libero eu quam convallis, vitae tincidunt metus fermentum. Maecenas eget nunc quis sem euismod condimentum. Nunc ultricies convallis placerat. Praesent lectus mauris, scelerisque ut lectus at, lobortis ultricies lectus. Donec euismod aliquam dolor, non eleifend tellus sollicitudin eu. Sed molestie sodales eleifend. Ut leo nulla, cursus at augue rhoncus, facilisis malesuada enim.

In faucibus arcu justo, vitae tristique risus egestas at. In sagittis tempus ipsum, vestibulum tincidunt ante tempus sed. Integer aliquet pellentesque risus eget accumsan. Duis ante tellus, fermentum ac cursus ut, pharetra eu risus. Phasellus vel sapien cursus, facilisis ex id, hendrerit elit. Fusce sed est lorem. Phasellus blandit a odio non condimentum. Maecenas pretium tortor vitae libero sollicitudin, nec elementum nisl placerat. Curabitur sit amet ex elementum leo feugiat tempus.

Morbi nec mollis lectus, eget tincidunt ante. Nulla sed cursus mauris, scelerisque posuere sem. Donec ullamcorper tellus neque, sed malesuada risus condimentum ut. Ut sed est at nibh congue ultrices non ac massa. Proin eget odio eu tortor sagittis dictum et ut neque. Nullam ut elit luctus, feugiat sapien volutpat, luctus magna. Aliquam nulla purus, mattis vel luctus sit amet, bibendum eu felis. Mauris massa orci, volutpat in nisi non, cursus congue ex.
    </span> --}}

    </div>

    <canvas id="chart1" class="canvas-chart"></canvas>

    <canvas id="chart2" class="canvas-chart"></canvas>

    

</div>
<script>

    
    $(document).ready(()=>{
        var graphs = new GraphCollection();

        $.ajax({
        url: "/allCountries",
        type:"get",
        dataType: "json",
        success: function(data){
            data.forEach((item) => {
                if(item.length>30){
                    var text = item.substring(0,25) + "...";
                } else {
                    var text = item;
                }
                    //var obj = `<option value="${item}">${text}</option>`;
                    var obj = `<option value="${item}">`;
                    $('#countriesList').append(obj);});
        }
        });

        //$("#countries").val("Romania");
        $("#countries").attr("value","Romania");
        $("#countries").text("Romania");
        $("#time").val("d 7");
        
        initiateData("Romania",$('#keyInput').val(),"d 7");

    });
</script>