<div id="panelSearch">

<div class="input-group mb-3" style="width:70%;margin-left:15%;margin-right:15%;margin-top:100px;">
    <input id="keyInput" type="text" class="form-control search-control" placeholder="Enter a keyword" aria-label="Username" aria-describedby="basic-addon1" value={{searchedKeyword}}>
</div>

<label for="countries" style="margin-top:100px;">Choose a country:</label>
    <select class="form-control search-control" name="countries" id="countries">
</select>

<label for="time" style="margin-top:100px;">Choose an interval of time:</label>
<select class="form-control search-control" name="time" id="time">
    {{!-- <option value = "h 1" >Ultima ora</option>
    <option value = "h 4" >Ultimele 4 ore</option> --}}
    <option value = "d 3" >Ultimele 3 zile</option>
    <option value = "d 9" >Ultimele 7 zile</option>
    <option value = "d 30" >Ultimele 30 de zile</option>
    <option value = "d 90" >Ultimele 90 de zile</option>
    <option value = "m 12" >Ultimele 12 luni</option>    
    <option value = "y 5" >Ultimii 5 ani</option>
    <option value = "y 16" > Ultimii 16 ani</option>
</select>

</div>



<div id="panelData">
    
    <canvas id="chart1" class="canvas-chart"></canvas>

    <canvas id="chart2" class="canvas-chart"></canvas>

</div>
<script>

    
    $(document).ready(()=>{
        var graphs = new GraphCollection();

        $.ajax({
        url: "/allCountries",
        type:"get",
        dataType: "json",
        success: function(data){
            data.forEach((item) => {
                    var obj = `<option value="${item}">${item}</option>`;
                    $('#countries').append(obj);});
        }
        });

        $("#countries").val("Romania");
        
        initiateData("Romania",$('#keyInput').val(),"d 7");

    });
</script>