<div id="panelSearch">

<div class="input-group mb-3" style="width:70%;margin-left:15%;margin-right:15%;margin-top:100px;">
    <input id="keyInput" type="text" class="form-control" placeholder="Enter a keyword" aria-label="Username" aria-describedby="basic-addon1" value={{searchedKeyword}}>
</div>

<label for="countries" style="margin-top:100px;">Choose a country:</label>
    <select class="form-control" name="countries" id="countries">
</select>

<label for="time" style="margin-top:100px;">Choose an interval of time:</label>
<select class="form-control" name="time" id="time">
    <option value = "1 ora" >Ultima ora</option>
    <option value = "4 ore" >Ultimele 4 ore</option>
    <option value = "1 zi" >Ultima zi</option>
    <option value = "30 zile" >Ultimele 30 de zile</option>
    <option value = "90 zile" >Ultimele 90 de zile</option>
    <option value = "12 luni" >Ultimele 12 luni</option>    
    <option value = "5 ani" >Ultimii 5 ani</option>
</select>

</div>



<div id="panelData">
    
    <canvas id="chart1" class="canvas-chart"></canvas>

    <canvas id="chart2" class="canvas-chart"></canvas>

</div>
<script>

    
    $(document).ready(()=>{
        var graphs = new GraphCollection();

        $.ajax({
        url: "/allCountries",
        type:"get",
        dataType: "json",
        success: function(data){
            data.forEach((item) => {
                    var obj = `<option value="${item}">${item}</option>`;
                    $('#countries').append(obj);});
        }
        });

        $("#countries").val("Romania");
        
        initiateData("Romania",$('#keyInput').val(),"7 zile");

    });
</script>