<div id="panelSearch">
<div class="card coco" style="width:90%; heigth:80%; margin-left:5%; margin-right:5%;margin-top:15%;">

    <div class="input-group mb-3" style="width:100%;margin-top:75px;position:relative;">
        <div id="search-div" style="width:100%;">
            <input id="keyInput" type="text" class="form-control search-control" placeholder="Enter a keyword" aria-label="Username" aria-describedby="basic-addon1" value={{searchedKeyword}} oninput="inputData()">
        </div>
        <div id="suggestion-bar">

        </div>
    
    </div>


    <label for="countries" style="margin-top:15%;margin-left:15%;">Choose a country:</label>
        <input class="form-control search-control" type="text" id="countries" list="countriesList"/>
        <datalist   name="countries" id="countriesList" style="max-width:70%">
        </datalist >

    <label for="time" style="margin-top:15%; margin-left:15%;">Choose an interval of time:</label>
    <select class="form-control search-control"  style="margin-bottom:15%;"name="time" id="time">
        {{!-- <option value = "h 1" >Ultima ora</option>
        <option value = "h 4" >Ultimele 4 ore</option> --}}
        <option value = "d 3" >Ultimele 3 zile</option>
        <option value = "d 7" >Ultimele 7 zile</option>
        <option value = "d 30" >Ultimele 30 de zile</option>
        <option value = "d 90" >Ultimele 90 de zile</option>
        <option value = "m 12" >Ultimele 12 luni</option>    
        <option value = "y 5" >Ultimii 5 ani</option>
        <option value = "y 16" > Ultimii 16 ani</option>
    </select>

    </div>
</div>



<div id="panelData">

    {{!-- <div id="divDik"></div> --}}
    <div class="search-results-container canvas-chart">
        <div id="title">
        <span id="title-dictionary" > The word</span>
        </div>
        <div>
        <span id="content-dictionary" >  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Morbi a mi felis. Aliquam eleifend augue at metus consequat, ut aliquet lacus semper. 
                                        Donec dignissim aliquet neque, in semper libero. Suspendisse sagittis ipsum sit amet finibus lobortis. 
                                        Donec non est lorem. In eleifend maximus libero ac tempus. Pellentesque a rhoncus nibh. Fusce in pulvinar felis. 
                                        Curabitur pretium massa vitae lacinia molestie. Donec lacus turpis, sollicitudin ut nunc ut, luctus fermentum orci. 
                                        Quisque accumsan libero dolor, et rutrum justo auctor vitae. 
                                        Morbi at lorem hendrerit, accumsan erat et, pretium massa.</span>
        </div>

    </div>

    <canvas id="chart1" class="canvas-chart"></canvas>

    <canvas id="chart2" class="canvas-chart"></canvas>

    

</div>
<script>

    
    $(document).ready(()=>{
        var graphs = new GraphCollection();

        $.ajax({
        url: "/allCountries",
        type:"get",
        dataType: "json",
        success: function(data){
            data.forEach((item) => {
                if(item.length>30){
                    var text = item.substring(0,25) + "...";
                } else {
                    var text = item;
                }
                    //var obj = `<option value="${item}">${text}</option>`;
                    var obj = `<option value="${item}">`;
                    $('#countriesList').append(obj);});
        }
        });

        //$("#countries").val("Romania");
        $("#countries").attr("value","Romania");
        $("#countries").text("Romania");
        $("#time").val("d 7");
        
        initiateData("Romania",$('#keyInput').val(),"d 7");

    });
</script>